@import url('https://fonts.googleapis.com/css2?family=DM+Sans:ital,opsz,wght@0,9..40,100..1000;1,9..40,100..1000&family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&display=swap');
@import "tailwindcss";
@theme{
    --font-sans:'DM Sans',sans-serif;
    --font-inter:'Inter',sans-serif;
     --font-tiempos: 'TiemposHeadline', serif;
     --font-pro:'SF Pro Display',serif;
    --breakpoint-mid:1000px;
}
@font-face {
    font-family: 'TiemposHeadline';
    src: url('./assets/fonts/TestTiemposFine-Semibold-BF66457a50f016a.otf')  format("opentype");
    font-weight: 600;
}
font-face{
  font-family: 'SF Pro Display';
  src:url('./assets/fonts/San Francisco Pro Display/SF-Pro-Display-Bold.otf') format("opentype");
  font-weight:700
}
@font-face{
  font-family: 'SF Pro Display';
  src:url('./assets/fonts/San Francisco Pro Display/SF-Pro-Display-Regular.otf') format("opentype");
  font-weight:400
} 
@font-face{
  font-family: 'SF Pro Display';
  src:url('./assets/fonts/San Francisco Pro Display/SF-Pro-Display-Medium.otf') format("opentype");
  font-weight:500
} 
.recharts-wrapper:focus {
  outline: none !important;
}

.recharts-surface:focus {
  outline: none !important;
}